body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
  max-width: 500px;
}

.buttons {
  margin-bottom: 100px;
}

.button {
  background-color: #E65F3A;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px 10px;
}

.button:hover {
  background-color: #E39F05;
}

.button a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 500px;
}

.photo-credit {
  color: #676767;
  font-size: 12px;
}